
<div *ngIf="isLoading" class="lds-dual-ring"></div>

<div *ngIf="!task && !isLoading">
    <h3>Tarea no encontrada</h3>
</div> 

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Editar tarea
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" *ngIf="task">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-edit-task [task]="task" (editTask)="onEditTask($event)" />
        ...
      </div>
      
    </div>
  </div>
</div>

<table class="table" *ngIf="task">
    <tbody>
      <tr>
        <th>Título:</th>
        <td>{{ task.titulo }}</td>
      </tr>
      <tr>
        <th>Descripción:</th>
        <td>{{ task.descripcion }}</td>
      </tr>
      <tr>
        <th>Prioridad:</th>
        <td>{{ task.prioridad }}</td>
      </tr>
      <tr>
        <th>Categoría:</th>
        <td>{{ task.categoria }}</td>
      </tr>
      <tr>
        <th>Estado:</th>
        <td>{{ task.estado }}</td>
      </tr>
      <tr>
        <th>Fecha:</th>
        <td>{{ task.fecha }}</td>
      </tr>
    </tbody>
  </table>
