.fondo{
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}
.app-dashboard {
    position: relative; /* Asegura que la pseudo-clase ::before se posicione correctamente */
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }  
  .app-dashboard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('../../../assets/images/fondo.jpg');
    height: 100%;
    background-size: cover;
    opacity: 0.3;
    background-attachment: fixed;
    z-index: -1; /* Asegura que la capa ::before esté detrás del contenido */
  }
  .router-outletContainer{
    min-width: 50vw;
  }

  @media screen and (max-width: 1400px) {
    .router-outletContainer{
      width: 100vw;
    }
    
  }