<div class="nav-container bg-dark">
  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
   <ul class="nav-menu">
    <li [attr.data-bs-toggle]="viewPortWidth ? 'collapse' : null"  data-bs-target="#navbarToggleExternalContent" routerLink="dashboard/home">Inicio</li>
    <li [attr.data-bs-toggle]="viewPortWidth ? 'collapse' : null" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" routerLink="dashboard/tasks">Tareas</li>
    <li [attr.data-bs-toggle]="viewPortWidth ? 'collapse' : null" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" routerLink="dashboard/createtask">Crear Tarea</li>
   </ul>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>